.attachment-original { background-color: #e1f3ca; }
.attachment-copy { background-color: #d7e9f3; }
.attachment-original.alternate { background-color: #eaf7d9; }
.attachment-copy.alternate { background-color: #e4eff4; }